.FormUpdate {
  margin-top: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.FormUpdate button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(69, 32, 171);
  color: #fff;
  font-size: 16px;
}

.FormUpdate input {
  width: 200px;
  height: 32px;
  border-radius: 5px;
  text-align: center;
}
